.dot {
    height: 75%;
    width: 75%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  /* .dot {
  background: blue;
  width: 33%;
  height: 66.5%;
  position: relative;
  top:-17%;
}
.dot:after {
  background: inherit;
  content: "";
  width: 152%;
  height: 50%;
   left: 50%; 
  position: absolute;
  top: 50%; 
}  */