body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #212121 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



h1,h2,h3,h4,h5,h6,p{
  color: white;
}

a{
  color:#bdbdbd !important;
  text-decoration: none !important;
}

a:hover{
  color:white !important;
  text-decoration: none;

}

.tablero{
  display: block;
  background: black;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-bottom: 10px;
}

.casilla{
  color:white;
  border:1px solid #757575;
  display: flex;
  justify-content: center;
  align-items: center;

  /* align-items: stretch; */
}

.dot {
  height: 75%;
  width: 75%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* .dot {
  background: blue;
  width: 33%;
  height: 66.5%;
  position: relative;
  top:-17%;
}
.dot:after {
  background: inherit;
  content: "";
  width: 152%;
  height: 50%;
   left: 50%; 
  position: absolute;
  top: 50%; 
}  */




/* .panelAcciones{
   display: flex;
  justify-content:center; 
} */

.panelColores{
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 40px;
}

.colores-tablero{
border: 1px red solid;
  width: 800px;
  display: flex;
  justify-content: center;
}